@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 576px) {
  html{
    font-size: 12px;
  }
  .container{
    width: 98%;
    margin: 0 auto;
}
}

.category-title::before {
  content: "";
  position: absolute;
  top: -11%;
  left: 2px;
  
  width: 40px;
  height: 40px;
  background-image: url("../app/assets/Polygon.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
}

.swiper-pagination-bullet {
   width: 45px !important;
    height: 7px !important;
    background-color: #AA9393 !important;
    border-radius: 6px !important;
    margin: 0 5px !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #034E53 !important;
}